.App {
  text-align: center;
}

@keyframes coin-flip {
  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(180deg);}
  100%  {transform: rotate(360deg);}
}

.coin-container{
  width: 100%;
  margin-left: calc(50% - 50px);
  top: 20px;
  position: relative;
}

.coin{
  cursor: pointer;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgb(240, 113, 113);
  border: 2px solid red;
  line-height: 100px;
  
}

.coin-animate{
  cursor: pointer;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgb(199, 96, 96);
  border: 2px solid red;
  line-height: 100px;
  animation-name: coin-flip;  
  animation-duration: 0.2s ;
  animation-iteration-count: 10;
  box-shadow: 2px 2px 2px peru;
}
